<article>
    <div class="container">
        <div class="item">
            <p>
                Hi! Enter your plate number to search for the total cost of tickets you have paid to nyc so far.
            </p>
            <form id="searchform">
                <label for="search_plate"> Enter a plate number:
                    <input type="text" id="search_plate" name="search_plate">
                </label>
                <button id="plate_button" type="submit">search</button>
            </form>
        </div>
    </div>
</article>
