<article>
    <div class="container">
        <div class="item">
            <p>
                Hi! Enter your plate number to search for the total cost of tickets you have paid to nyc so far.
            </p>
            <form method="POST" action="/searchplates">
                <label class="label" for="search"> Enter a plate number:
                    <input type="text" id="search" name="showSearchTerm">
                </label>
                <button class="button" type="submit" >search</button>
            </form>
        </div>
    </div>
</article>
