<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Visualization</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><p>some data here</p></li>
            </ul>
        </nav>
    </header>
    <p>I will be on every page of the site</p>
    <main>
        {{{body}}}
    </main>
    <footer>I am a footer</footer>
</body>
</html>