<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/stylesheet.css"/>
</head>
	<body>
		<header>
			<top>
				<a id="logo" href="/">NYC Parking App</a>
			</top>

			<bottom> 
			</bottom>
		</header>
		<hero>
			<left>
				<h1>Ticket Calculator</h1>
				{{{body}}}
				<p id="totalAmount"></p>
				<p id="minDate"></p>
				<p id="maxDate"></p>
				<ul id="ticketYears"></ul>
			</left>

			<right>
			</right>
		</hero> 
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="/public/js/searchplates.js"></script>
</html>
